body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: linear-gradient(to right, purple, rgb(209, 66, 209));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.border {
  border: 1px solid rgb(97, 97, 97);
  width: 350px;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
